# BEGIN Serve Static Cache
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_COOKIE} !(^|;\s*)wordpress_logged_in_.*$ [NC]
RewriteCond %{REQUEST_URI} !^/(elementor|vc_row|fl_builder|fl-theme-builder) [NC]
RewriteCond %{REQUEST_URI} !^/wp-admin/ [NC]
RewriteCond %{REQUEST_METHOD} GET
RewriteCond %{QUERY_STRING} ^$ [NC]
RewriteCond C:\Users\maxim\Documents\Projekte\Website\app\public/wp-content/serve-static-cache/$1/index.html -f
RewriteRule ^(.*)$ /wp-content/serve-static-cache/$1/index.html [L]

# END Serve Static Cache
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# The directives (lines) between "BEGIN Simply Static" and "END Simply Static" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<Files "C:\Users\maxim\Documents\Projekte\Website\app\public/wp-content/uploads\simply-static\d29c81e96c18414b52cbf5f19b51b19d-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static